<legend>Listing all curated phenotypes</legend>
<table class="table table-striped" id="c_phenotypes_overview">
<tr>
	<th><%= sortable "name","Name"%></th>
	<th><%= sortable "description","Description"%></th>
</tr>
<% @curated_phenotypes_paginate.each do |cp| %>
<tr>
    <td><%= link_to(cp.name, cp) %></td>
    <td><%= cp.description %></td>
</tr>
<% end %>
</table>
<%= page_navigation_links @curated_phenotypes_paginate %>

